<div class="home">
  <div class="search col-1">search</div>
  <div class="map col-12">map</div>
  <div class="feedarea col-12">
    <div class="row justify-content-between flex">
      <div class="feed col-sm-4">
        <div class="feed-item">feed-item</div>
      </div>
      <div class="feed col-sm-4">feed2</div>
      <div class="feed col-sm-4">feed3</div>
    </div>
  </div>
</div>