<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
  <!--
    <h1> Welcome to Coffee Anywhere, <%= @user.email %> </h1>
    <p>
      You have successfully signed up to Coffee Anywhere
      <%= @user.email %>
    </p>
    To login to the site, just follow this link:
    <%= @url %> 
 -->

    <h1>COFFEE ANYWHERE へようこそ！</h1>
    <p>アカウントをアクティベートするにはURLをクリック</p>
    <%= @url %> 
  </body>
</html>