<% provide(:button_text, '登録') %>


<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1 class="mt-5">店舗情報 編集</h1>
    <%= render 'form' %>
    
    <%= link_to "削除", @shop, method: :delete, data: { confirm: "本当に削除しますか？" }, class:"btn btn-danger text-white w-100 mt-4" %>
  </div>
</div>