
    <ul class="shops">
      <% @shops.each do |shop| %>
        <li>
          <div class="list_image">image</div>
          <div class="list_text">
            <%= link_to shop.name, shop, class: "shop_name" %>
            <%= link_to shop.description, shop %>
          </div>
        </li>
      <% end %>
    </ul>
