<% provide(:title, '検索結果') %>

<div class="container">
  <div class="shop_index">
    <%= render 'search_form' %>
  </div>

  <ul class="shops">
    <% @shops.each do |shop| %>
      <%= render partial: 'shared/shop_index', locals: { shop: shop } %>
    <% end %>
  </ul>

  <%= will_paginate @shops, list_classes: %w(pagination justify-content-center h3 mt-5), aria_label:  'Page Navigation' %>
</div>