<div class="row">
  <div class="index_left col-md-7 col-md-offset-1">
      <h1 class="shop_name">Shop Name</h1>

      <section class="shop_image">image</section>

      <section class="shop_desc">ここに説明が入ります。ここに説明が入ります。ここに説明が入ります。ここに説明が入ります。ここに説明が入ります。ここに説明が入ります。ここに説明が入ります。ここに説明が入ります。ここに説明が入ります。ここに説明が入ります。ここに説明が入ります。ここに説明が入ります。ここに説明が入ります。</section>

      <section class="review">reviewreviewreviewreviewreviewreviewreviewreviewreviewreviewreviewreviewreviewreviewreviewreviewreviewreviewreviewreviewreviewreviewreviewreviewreviewreviewreviewreviewreviewreviewreview</section>

      <section class="shop_info">info</section>
  
  </div>

  <div class="index_right col-md-3 hidden-sm hidden-xs">reccomend</div>

</div>