<div id="favorite">
  <% if current_user  %>
  
    <div id="show_fav">
      <% if current_user.fav?(@shop) %>
        <%= render 'unfav' %>
      <% else %>
        <%= render 'fav' %>
      <% end %>
    </div>

  <% end %>
</div>