<% provide(:title, 'ユーザー情報編集') %>

<% provide(:title, 'Edit') %>
<% provide(:button_text, '決定') %>

<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1 class="mt-5">Update your profile</h1>
    <%= render 'form' %>

    <% if logged_in? && !current_user.admin? %>
      <%= link_to "アカウント削除", @user, method: :delete, data: { confirm: "本当にアカウントを削除しますか？" }, class:"btn btn-danger text-white w-100 mt-4" %>
    <% end %>
  </div>
</div>

<% if @user.errors.any? %>
  <%= javascript_pack_tag 'users/edit_render' %>
<% end %>