<% provide(:title, '新規登録') %>
<% provide(:button_text, '登録') %>

<div class="row mt-5">
  <div class="col-lg-10 offset-lg-1">
    <div class="login_left border rounded p-4 mt-5">
      <h3>COFFEE ANYWHEREへようこそ！</h3>
      <p class="h6 my-4">新規登録(無料)して利用を開始しましょう。</p>
      <div class="row border-top">
        <div class="sns col-12 col-lg-6 offset-lg-0 mt-4 pb-4 ">
          <%= render partial: 'shared/sns', locals: { phrase: '登録' } %>
          <p class="pt-3 text-black-50">COFFEE ANYWHEREが許可なくFacebook, Twitterに投稿することはありません。</p>
          <p class="border-top pt-4">登録せずに試すにはこちら</p>
          <div class="text-center pb-4 border-bottom">
            <%= render 'shared/easy_login' %>
          </div>
        </div>
        <div class="col-12 col-lg-6 offset-lg-0 mt-4"><%= render 'form' %></div>
      </div>
    </div>
  </div>
</div>

<% if @user.errors.any? %>
  <%= javascript_pack_tag 'users/signup_render' %>
<% end %>