<!--renderする時 locals: review -->

<v-col  class="pl-3">
  <v-row>
    <div id="shop_index">
      <v-rating
        color="warning"
        half-increments
        readonly
        length="5"
        size="22"
        value="<%= review.rate %>"
      ></v-rating>
    </div>
    <div class="ave_rate pl-2 pt-2 font-weight-bold red--text text--lighten-2"><%= review.rate %>
    </div>
  </v-row>
</v-col>