<%= link_to auth_at_provider_path(:provider => :facebook) do %>
  <div class="facebook w-100 text-center mb-1"><span><i class="fab fa-facebook"></i></span> Facebookアカウントで<%= phrase %></div>
<% end %>
<%= link_to auth_at_provider_path(:provider => :twitter) do %>
  <div class="twitter w-100 text-center"><span><i class="fab fa-twitter"></i> Twitterアカウントで<%= phrase %></span></div>
<% end %>