// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// @import "bootstrap-sprockets";
// @import "bootstrap";

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}


// ============
// universal
// ============
html {
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  // font-size: 1.4rem;
  // padding: 70px 30px;
}

a:link, a:visited, a:hover, a:active {
  color:  #333;
  text-decoration: none;
}

a:hover {
  opacity: 0.7;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.alert {
  margin-top: 10px;
  // position: absolute; //headerにposition:relative
  // top: 50px;
  left: 0;
  right: 0;
  z-index: 20;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

// ===========
// search_form
// ===========



// ============
// header
// ============

header {
  position: relative;
  margin: 0 -15px;
  max-height: 70px;
  .container {
    // display: flex;
    // padding: 10px;
    h1 {
      margin-right: 10px;
      padding-top: 5px;
      font-size: 2.0rem;
      justify-content: flex-start;
      float: left;
      a {
        color: #fff;
        text-transform: uppercase;
      }
    }
    nav {
      li {
        font-size: 1.4rem;
        display: inline-block;
        padding: 10px;
        .show {
          margin: 15px auto;
          z-index: 10;
          // border: 0;
        }
        a {
          color: #fff;
          padding: 5px;
        }
        .dropdown-menu {
          padding: 7px;
          color: #333;
          font-size: 1.2rem;
        }
      }
    }
  }
}


// ============
// home
// ============

.home {
  padding: 0 30px;
  .home-header {
    background: url('home-image.jpg') center center;
    background-size: cover;
    margin: 0 calc(50% - 50vw);
    width: 100vw;
    position: relative;
    padding-top: calc(250 / 640 * 100%);  /* calc(画像高さ ÷ 画像横幅 × 100%) */
    .alert {
      margin-top: 10px;
      position: absolute;
      top: 0;
      left: 10%;
      right: 10%;
      z-index: 20;
    }
    h2 {
      position: absolute;
      top: 20%;
      left: 10%;
      // right: ;
      text-align: center;
      // font-size: 1.5rem;
      font-weight: bold;
      color: white;
    }
    .search_form {
      background: #fff;
      border-radius: 5px;
      box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
      padding: 40px;
      // width: 80%;
      // margin-left: auto;
      // margin-right: auto;
      position: absolute;
      bottom: -50px;
      left: 15%;
      right: 15%;
      p {
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
      }
      .shop_search {
        width: 100%;
        font-size: 0;
        .search_field {
          height: 25px;
          // width: 100%;
          font-size: 1.4rem;
          vertical-align : middle; //ブラウザによる1pxほどのズレを修正
          height: 27px;
          margin-bottom: 0;
        }
        .search_submit {
          height: 18px;
          // width: 1%;
          font-size: 1.5rem;
          vertical-align : middle; //ブラウザによる1pxほどのズレを修正
          margin-bottom: 0;
        }
      }
    }
  }


  .area {
    // background-color: orange;
    margin-top: 80px;
    .row {
      margin: 0;
      height: 120px;
      padding: 30px 0;
      .area-item {
        // border: 0.3px solid gray;
        height: 80px;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
        // margin: 30px 0;
        // padding: 5px;
        // background-color: orange;
        // position: relative;
        .area-left {
          height: 80px;
          // border: 1px solid black;
          background-color: pink;
          // position: absolute;
          // left: 0;
        }
        .area-right {
          font-size: 20px;
          text-align: center;
          line-height: 80px;
          white-space: nowrap;
          border: 0.3px solid #eee;
        }
      }
    }
  }


}
