      <footer class="footer">
        <nav>
          <ul>
            <li><%= link_to "Privacy Policy", "#" %></li>
            <li><%= link_to "Terms & Conditions", "#" %></li>
          </ul>
        </nav>
      </footer>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
