      <footer class="footer text-center">
          <ul class="nav nav-expand list-unstyled flex justify-content-center">
            <li class="mr-3"><%= link_to "利用規約", terms_path %></li>
            <li><%= link_to "プライバシーポリシー", privacy_path %></li>
          </ul>
        <div class="text-muted mt-1">Copyright COFFEE ANYWHERE All Rights Reserved.</div>
      </footer>
      <!--<%= debug(params) if Rails.env.development? %>-->
  </div>
  </body>
</html>
